{% extends("::base.html.twig") %}

{% block body %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="thumbnails">
                <span class="pull-left"><img src="{{ entity.webthumbpath(260,180) }}"></span>
            </div>
        </div>
        <div class="span10">
            <div class="well">
                <h1>{{ entity }}</h1>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Operating system</th>
                        <td>{{ entity.os }}</td>
                    </tr>
                    <tr>
                        <th>Distribution</th>
                        <td>{{ entity.distribution }}</td>
                    </tr>
                    <tr>
                        <th>Version</th>
                        <td>{{ entity.version }}</td>
                    </tr>
                    <tr>
                        <th>Codename</th>
                        <td>{{ entity.codename }}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

<h2>Comments</h2>
{% for comment in entity.comments %}
    <hr>
    Created at: {{ comment.created | date("d-m-Y") }}<br/>
    By: {{ comment.user.fullname }}<br/>
    Rating: {{ comment.rating }} out of 10 stars<br/>
    Comment: {{ comment.comment }}<br/>
{% endfor %}

{% endblock %}
