{% extends("::base.html.twig") %}

{% block body %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="thumbnails">
                <span class="pull-left"><img src="/uploads/software/thumb-260-180-phpstorm-logo.jpg"></span>
            </div>
        </div>
        <div class="span10">
            <div class="well">
                <h1>{{ entity }}</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>Manufacturer</th>
                        <td>{{ entity.manufacturer }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ entity.description | nl2br }}</td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
                    </tr>
                    <tr>
                        <th>Opensource</th>
                        <td>{{ entity.opensource ? "yes" : "no" }}</td>
                    </tr>
                    <tr>
                        <th>Demo</th>
                        <td>{{ entity.demo ? "yes" : "no" }}</td>
                    </tr>
                    <tr>
                        <th>Opensourcelicense</th>
                        <td>{{ entity.opensourcelicense }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

{% endblock %}
