<ul class="thumbnails">
    {% for environment in machine.environments %}
    <li class="span3" style='text-align: center'>
        <div class="thumbnail">
            <a href="{{ path('environment_software', { machine_id : machine.id, id : environment.id }) }}">
                <img src="{{ environment.operatingsystem.webThumbPath(260,180)}}" alt="{{ environment.operatingsystem }}">
            </a>

            <div class="caption">
            <h5>{{ environment.operatingsystem }}</h5>
            <p>
                <a class="btn btn-mini btn-success" href="{{ path('environment_edit', { machine_id : machine.id, id : environment.id }) }}">edit environment</a>
                <a class="btn btn-mini btn-success" href="{{ path('environment_software', { machine_id : machine.id, id : environment.id }) }}">list software</a>
            </p>
            </div>
        </div>
    </li>
{% endfor %}
</ul>