<ul class="thumbnails">
    {% for environment in machine.environments %}
    <li class="span3" style='text-align: center'>
        <div class="thumbnail">
            <a class="fancybox fancybox.iframe" href="{{ path("operatingsystem_show", { "id" : environment.operatingsystem.id, "standalone" : 1 }) }}">
                <img src="{{ environment.operatingsystem.webThumbPath(260,180)}}" alt="{{ environment.operatingsystem }}">
            </a>

            <div class="caption">
            <h5>{{ environment.operatingsystem }}</h5>
            <p>
                <a class="btn btn-mini btn-success" href="{{ path('environment_edit', { machine_id : machine.id, id : environment.id }) }}">edit environment</a>
                <a class="btn btn-mini btn-success" href="{{ path('environment_software', { machine_id : machine.id, id : environment.id }) }}">list software</a>
            </p>
            </div>
        </div>
    </li>
{% endfor %}

    <li class="span3" style='text-align: center'>
        <div class="thumbnail">
            <img class="inactive" height="180" width="180" src="/img/add.png" alt="Add new environment">

            <div class="caption">
                <h5>New environment</h5>
                <p>
                    <a class="btn btn-mini btn-success" href="{{ path('environment_new', { machine_id : machine.id } ) }}">add new environment</a>
                </p>
            </div>
        </div>
    </li>
</ul>