{# Actual login form #}
<div>
    <h2>Login</h2>
    <p>Log into box-config.com account. Don't you have an account yet? You might want to check the next form
       in order to register a new account.</p>
</div>
<br/>

{% if error is defined %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    <fieldset>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="control-group">
            <label class="control-label" for="username">Username: </label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password: </label>
            <div class="controls">
                <input type="password" id="password" name="_password" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            <div class="controls">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>

    </fieldset>
</form>

<p><big>For now, use can use the <b>demo/demo</b> or <b>admin/admin</b> username and password to check out the system</big></p>
