<div class="span5">
    <div class="well">
        <h2>Top {{ matches|length}} friends match</h2>
        <p>These friends have similar one or more configurations.</p>

        <table class="table ">
{% for match in matches %}
            <tr><td>{{ loop.index }}</td><td><img src="{{ gravatar(match.user.email, 25) }}"></td><td><a href="#">{{ match.user.fullname }}</a></td><td>{{ match.percentage }}%</td></tr>
{% endfor %}
        </table>
    </div>
</div>