<div class="span4">
    <div class="well">
        <h3>Top {{ items | length }} {{ title }}</h3>
        <table class="table ">
{% for item in items %}
            <tr><td>{{ loop.index }}</td><td><a href="#">{{ item.machine.hardware }}</a></td><td>({{ "%.2f %%" | format(item.scalarPercentage) }})</td></tr>
{% endfor %}
        </table>
        <p><a class="btn" href="#">View more &raquo;</a></p>
    </div>
</div>