{% extends("::base.html.twig") %}

{% block title%}Display software{% endblock %}

{% block body %}

<div class="well">
<h2>OperatingSystem list</h2>
<p>This is a list of all the operating systems that is currently in use on the site.</p>

<table class="table records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Os</th>
            <th>Distribution</th>
            <th>Version</th>
            <th>Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('operatingsystem_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.os }}</td>
            <td>{{ entity.distribution }}</td>
            <td>{{ entity.version }}</td>
            <td>123</td>
            <td>
                <a class="btn btn-mini btn-success" href="{{ path('operatingsystem_show', { 'id': entity.id }) }}">show</a>
                <a class="btn btn-mini btn-success" href="{{ path('operatingsystem_edit', { 'id': entity.id }) }}">edit</a>
                <a class="btn btn-mini btn-danger" href="{{ path('operatingsystem_delete', { 'id': entity.id }) }}">delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


    <p>
        <a class="btn btn-mini btn-success" href="{{ path('operatingsystem_new') }}">Create a new entry</a>
    </p>

</div>

{% endblock %}