<h1>OperatingSystem</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Os</th>
            <td>{{ entity.os }}</td>
        </tr>
        <tr>
            <th>Distribution</th>
            <td>{{ entity.distribution }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ entity.version }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('operatingsystem') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('operatingsystem_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('operatingsystem_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
