<table class="table records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hardware</th>
            <th>Operating system</th>
            <th>Software count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for machine in entities %}
        <tr>
        {# Only display name and hardware on the first entry of each environment #}
            <td><a href="#">
                {% if machine.active == 0 %}
                <span class="label label-warning">inactive</span>
                {% endif %}
                {{ machine }}
            </a></td>
            <td><a href="#">{{ machine.hardware }}</a></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <a class="btn btn-mini btn-success" href="{{ path('machine_edit', { id : machine.id }) }}">edit machine</a>
                {#<a class="btn btn-mini btn-danger" href="#">delete</a>#}
            </td>
        </tr>
{% for environment in machine.environments %}
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                {% if environment.virtualized %}
                    <span class="label label-info">virtualized <img title="This is a virtualized system" src="/img/ghost_icon.gif"></span>
                {% endif %}
                {{ environment.operatingsystem }}
            </td>
            <td>{{ environment.software | length }} application(s)</td>
            <td>
                <a class="btn btn-mini btn-success" href="{{ path('environment', { machine_id : machine.id }) }}">edit environment</a>
                <a class="btn btn-mini btn-success" href="{{ path('environment_software', { machine_id : machine.id, id : environment.id }) }}">software</a>
                {#<a class="btn btn-mini btn-danger" href="#">delete</a>#}
            </td>
        </tr>
{% endfor %}
{% endfor %}
    </tbody>
</table>