<div class="row">

{% for machine in entities %}
    {% if loop.index is divisibleby(5) %}
        </div>
        <div class="row">
    {% endif %}

    <div class="span3" style='text-align: center'>
        <div class="thumbnail">
            <a class="fancybox fancybox.iframe" href="{{ path("component_hardware_show", { "id" : machine.hardware.id, "standalone" : 1 }) }}">
{% if machine.active %}
            <img src="{{ machine.hardware.webThumbPath(260,180)}}" alt="{{ machine.hardware }}">
{% else %}
            <img class="inactive" src="{{ machine.hardware.webThumbPath(260,180)}}" alt="{{ machine.hardware }}">
{% endif %}
            </a>

            <div class="caption">
                <h5>{{ machine.name }}</h5>
                <h5>({{ machine.hardware }})</h5>
                <p>
                    <a class="btn btn-mini btn-success" href="{{ path('box_machine_edit', { id : machine.id }) }}">edit machine</a>
                    <a class="btn btn-mini btn-success" href="{{ path('box_environment', { machine_id : machine.id }) }}">list environments</a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}

        {% if entities|length is divisibleby(4) %}
            </div>
            <div class="row">
        {% endif %}

    <div class="span3" style='text-align: center'>
        <div class="thumbnail">
            <img class="inactive" height="180" width="180" src="/img/add.png" alt="Add new machine">

            <div class="caption">
                <h5>New machine</h5>
                <h5>&nbsp;</h5>
                <p>
                    <a class="btn btn-mini btn-success" href="{{ path('box_machine_new') }}">add new machine</a>
                </p>
            </div>
        </div>
    </div>

</div>