<ul class="thumbnails">
{% for machine in entities %}
    <li class="span3" style='text-align: center'>
        <div class="thumbnail">
            <a class="fancybox fancybox.iframe" href="{{ path("hardware_show", { "id" : machine.hardware.id, "standalone" : 1 }) }}">
{% if machine.active %}
            <img src="{{ machine.hardware.webThumbPath(260,180)}}" alt="{{ machine.hardware }}">
{% else %}
            <img class="inactive" src="{{ machine.hardware.webThumbPath(260,180)}}" alt="{{ machine.hardware }}">
{% endif %}
            </a>

            <div class="caption">
                <h5>{{ machine.name }}</h5>
                <h5>({{ machine.hardware }})</h5>
                <p>
                    <a class="btn btn-mini btn-success" href="{{ path('machine_edit', { id : machine.id }) }}">edit machine</a>
                    <a class="btn btn-mini btn-success" href="{{ path('environment', { machine_id : machine.id }) }}">list environments</a>
                </p>
            </div>
        </div>
    </li>
{% endfor %}
</ul>